<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button *ngIf="!showMenuOptions" mat-icon-button (click)="onMenuClick()">
      <mat-icon aria-label="menu">menu</mat-icon>
    </button>
    <div class="areaTitle">
      <fa-icon [icon]="['fab', 'android']"></fa-icon>
      <fa-icon [icon]="['fab', 'apple']"></fa-icon>
      <span>{{name}}</span>
    </div>
    <div *ngIf="showMenuOptions" fxLayout="row" fxLayoutAlign="start center">
      <button mat-button *ngFor="let item of menuItems" (click)="onMenuItemClick(item)">{{item.text}}</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
