.marginBottom {
    margin-bottom: 16px;
}

.center {
    text-align: center;
}

.marginCenter {
    margin-left: 15%;
    margin-right: 15%;
}

.role {

    p {
        text-align: justify;
    }
}


.grad-card {
    h3 {
        margin-top: 0;
    }
}